.place__title {
  margin: 0;
  grid-area: title;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    width: min-content;
  }
}

@media screen and (max-width: 625px) {
  .place__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 0;
  }
}
