.header {
  max-width: 1184px;
  margin: 28px auto 56px;
  display: grid;
  grid-template-rows: 52px;
  grid-template-columns: auto repeat(2, 30px);
  column-gap: 18px;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 100%;
    margin: 28px 48px 56px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    grid-template-rows: 42px;
    grid-template-columns: auto repeat(2, 22px);
    margin: 16px 16px 48px;
  }
}
