.lead__title {
  max-width: 720px;
  font-size: 96px;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  line-height: 1.04;
}

@media screen and (max-width: 690px) {
  .lead__title {
    font-size: 56px;
    max-width: min-content;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
}
