.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 725px) {
  .footer__links {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
