.intro {
  max-width: 980px;
  margin: auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0 48px 96px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 24px 88px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    margin: 0 16px 64px;
  }
}
