.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  max-width: 640px;
  text-align: center;
  margin: auto;
  margin-bottom: 64px;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    margin-bottom: 40px;
    font-size: 16px;
  }
}
