.cover__overlay {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
}

.cover__overlay:after {
  content: " ";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../../images/cover/cover-trains.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}

.cover__overlay:hover.cover__overlay:after {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 525px) {
  .cover__overlay {
    min-height: 200px;
  }
}
