.place {
  max-width: 984px;
  margin: auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  grid-template-areas:
    "title website"
    "image text";
  gap: 48px 40px;
}

@media screen and (max-width: 1280px) {
  .place {
    grid-template-columns: minmax(calc(50% - 32px), 440px) auto;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-rows: 92px auto;
    grid-template-columns: minmax(min-content, calc(50% - 20px)) auto;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 615px) {
  .place {
    gap: 32px 0;
    grid-template-columns: 100%;
    grid-template-rows: 35px auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    margin-bottom: 73px;
  }
}
